<%= form_for(@sneaky) do |f| %>
  <% if @sneaky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sneaky.errors.count, "error") %> prohibited this sneaky from being saved:</h2>

      <ul>
      <% @sneaky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
