<p id="notice"><%= notice %></p>

<h1>Listing Sneakies</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sneakies.each do |sneaky| %>
      <tr>
        <td><%= sneaky.content %></td>
        <td><%= link_to 'Show', sneaky %></td>
        <td><%= link_to 'Edit', edit_sneaky_path(sneaky) %></td>
        <td><%= link_to 'Destroy', sneaky, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sneaky', new_sneaky_path %>
