<%= form_for(@landmark) do |f| %>
  <% if @landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
      <% @landmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
