<h2><%= @artist.name %></h2>
<ul>
  <li><%= image_tag(@artist.image, :class => 'main') %></li>
  <li><%= @artist.nationality %></li>
  <li><%= @artist.dob.strftime '%A %e %B, %Y' %></li>
  <li><%= @artist.period %></li>
</ul>
