<h2>All Works</h2>
<% @works.each do |work| %>
<ul>
  <li><%= link_to(work.title, work) %></li>
  <li><%= work.year %></li>
  <li><%= work.medium %></li>
  <li><%= work.style %></li>
  <li><%= image_tag(work.image, :class => 'thumb') %></li>
</ul>
<% end %>