<h2><%= @work.title %></h2>
<ul>
  <li><%= @work.year %></li>
  <li><%= @work.medium %></li>
  <li><%= @work.style %></li>
  <li><%= link_to('Edit', edit_work_path(@work)) %></li>
  <li><%= link_to('Delete', @work, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
</ul>

<%= image_tag(@work.image, :class => 'main') %>