<h2>Name: <%= @butterfly['name'] %></h2>
<h3>Family: <%= @butterfly['family'] %></h3>

<% if @butterfly.plant %>
  <h3>Larval plant: <a href="/plants/<%= @butterfly.plant.id %>">
    <%= @butterfly.plant.name %>
  </a></h3>
<% end %>

<% if @butterfly['image'] %>
  <img class="main" src="<%= @butterfly['image'] %>">
<% end %>

<p>
  <a href="/butterflies/<%= @butterfly['id'] %>/edit">Edit</a>
  <a href="/butterflies/<%= @butterfly['id'] %>/delete">Delete</a>
</p>
