<h1>Underscore Intro</h1>

<div>
  <%= text_field_tag 'number', nil, :autofocus => true %>
  <%= button_tag 'add number', :id => 'add_number' %>
  <%= button_tag 'square', :id => 'square' %>
  <%= button_tag 'funky calc', :id => 'funkify' %>
  <%= button_tag 'start', :id => 'start' %>
  <%= button_tag 'stop', :id => 'stop' %>
</div>

<div id="output"></div>